<a href="https://colab.research.google.com/github/emrulemran/PySparks/blob/main/PySpark_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Launch Notebook from Databricks here....
https://lnkd.in/gsWKedJ3

1.1 Or You install Anaconda distribution from here..
https://lnkd.in/gxmiZdCP

2. Start Learning Pyspark Basics from here...
https://lnkd.in/gfYG2C2Y
https://lnkd.in/gQaeSjbH
https://lnkd.in/geK6DUnX
https://lnkd.in/gMFqckZd

3. Learning Done. Then how do you Practise? You can do here..
https://lnkd.in/gVMzKGQS
Download sample datasets from any Website like Kaggle and throw your hands on it.

4. Work on Pyspark projects from here....
https://lnkd.in/gRs_EvV5
https://lnkd.in/grhFvNq9
https://lnkd.in/gYvYkqJZ

Resources are short & crispy because learners shouldn't get confused.

These are best resources according to my experience. don't miss to check out.

Hope this is find "Useful"✌

do follow Ajay Kadiyala ✅

In [1]:
!pip install pyspark
!pip install pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 10.9 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=57adb6e1740fc8621daad2aa7fd9c9aabfeede7ada2f49842c7ad326cc9387d5
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyarrow in /usr/local/lib/python3.9/dist-packages (9.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.9/dist-packages (from pyarrow) (1.22.4)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|Ram          |Technology|4000  |
|Shyam        |Technology|5600  |
|Veer         |Technology|5100  |
|Renu         |Accounts  |4000  |
|Ram          |Technology|4000  |
|Vijay        |Accounts  |4300  |
|Shivani      |Accounts  |4900  |
|Amit         |Sales     |4000  |
|Anupam       |Sales     |3000  |
|Anas         |Technology|5100  |
+-------------+----------+------+

+-------------+----------+------+----------+
|employee_name|department|salary|row_number|
+-------------+----------+------+----------+
|Renu         |Accounts  |4000  |1         |
|Vijay        |Accounts  |4300  |2         |
|Shivani      |Accounts  |4900  |3         |
|Anupam       |Sales     |3000  |1         |
|Amit         |Sales     |4000  |2         |
|Ram          |Technology|4000  |1         |
|Ram          |Technology|4000  |2         |
|Veer         |Technology|5100  |3         |
|Anas         |Technology|5100  |4         |
|Shyam        |Technology|5600  |5         |
+-------------+----------+------+----------+

+-------------+----------+------+----+
|employee_name|department|salary|rank|
+-------------+----------+------+----+
|         Renu|  Accounts|  4000|   1|
|        Vijay|  Accounts|  4300|   2|
|      Shivani|  Accounts|  4900|   3|
|       Anupam|     Sales|  3000|   1|
|         Amit|     Sales|  4000|   2|
|          Ram|Technology|  4000|   1|
|          Ram|Technology|  4000|   1|
|         Veer|Technology|  5100|   3|
|         Anas|Technology|  5100|   3|
|        Shyam|Technology|  5600|   5|
+-------------+----------+------+----+

In [ ]:
# Create RDD using parallelize()    
list = [1, 2, 3, 4]
rdd1 = spark.sparkContext.parallelize(list)
print(rdd1.collect())
print('Items in this RDD: ', rdd1.count())

rdd2 = rdd1.repartition(100)

print(rdd2.getNumPartitions())


rdd3 = rdd2.coalesce(10)

print(rdd3.getNumPartitions())

[1, 2, 3, 4]
Items in this RDD:  4
100
10

In [ ]:
# Create RDD from textFile    
txtFilePath = '/content/sample_data/textData.txt'
txtRDD = spark.sparkContext.textFile(txtFilePath)
print(txtRDD.collect())

["Let's try to follow the complete BDD process, which as we said, is an evolution of TDD. We will try to now anchor it on Agile planning and later we will integrate it with Azure DevOps.", "- To simplify things, let's work with a simple Class Library project that we will use to simulate buying/selling stock.", "- For this let's assume the following user story (tracked in e.g., Azure DevOps):", '', 'As a StockApp User', 'I want to purchase a given amount of stock at the latest value', 'So that I can increase the value of my portfolio']

In [ ]:
# Create RDD by applying transformation
numList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numRDD = spark.sparkContext.parallelize(numList)
evenRDD = numRDD.filter(lambda x : x > 5)
print(evenRDD.collect())

[6, 7, 8, 9, 10]

In [ ]:
# RDD Actions:

# RDD Action 1 - collect():
numSet = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
rdd = spark.sparkContext.parallelize(numSet)
print('collect() action: ', rdd.collect())

# RDD Action 2 - first():
print('first() action: ', rdd.first())

# RDD Action 3 - count():
print('count() action: ', rdd.count())

# RDD Action 4 - max():
print('max() action: ', rdd.max())

# RDD Action 5 - min():
print('min() action: ', rdd.min())

# RDD Action 6 - take(n):
print('take(n) action: ', rdd.take(3))

# RDD Action 7 - take(n):
rdd.saveAsTextFile('/content/sample_data/output/out.txt')

collect() action:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
first() action:  1
count() action:  10
max() action:  10
min() action:  1
take(n) action:  [1, 2, 3]

In [3]:
path = "/content/sample_data/country.csv"
df1 = spark.read.option("header", True).option("delimiter", "\t").format("csv").load(path)
df1.createOrReplaceTempView("CountryTable")

NameError: ignored

In [11]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("basics").master('local').getOrCreate()
spark
from pyspark.sql.window import Window	

from pyspark.sql.functions import rank	

from pyspark.sql.functions import row_number	

Sample_data = [("Ram", "Technology", 4000),	

    ("Shyam", "Technology", 5600),	

    ("Veer", "Technology", 5100),	

    ("Renu", "Accounts", 4000),	

    ("Ram", "Technology", 4000),	

    ("Vijay", "Accounts", 4300),	

    ("Shivani", "Accounts", 4900),	

    ("Amit", "Sales", 4000),	

    ("Anupam", "Sales", 3000),	

    ("Anas", "Technology", 5100)	

  ]	


Sample_columns= ["employee_name", "department", "salary"]	


dataframe = spark.createDataFrame(data =Sample_data, schema = Sample_columns)	

dataframe.printSchema()	

dataframe.show(truncate=False)	


# Defining row_number() function	

Window_Spec  = Window.partitionBy("department").orderBy("salary")	


dataframe.withColumn("row_number",row_number().over(Window_Spec)).show(truncate=False)	


# Defining rank() function	

dataframe.withColumn("rank",rank().over(Window_Spec)).show()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|Ram          |Technology|4000  |
|Shyam        |Technology|5600  |
|Veer         |Technology|5100  |
|Renu         |Accounts  |4000  |
|Ram          |Technology|4000  |
|Vijay        |Accounts  |4300  |
|Shivani      |Accounts  |4900  |
|Amit         |Sales     |4000  |
|Anupam       |Sales     |3000  |
|Anas         |Technology|5100  |
+-------------+----------+------+

+-------------+----------+------+----------+
|employee_name|department|salary|row_number|
+-------------+----------+------+----------+
|Renu         |Accounts  |4000  |1         |
|Vijay        |Accounts  |4300  |2         |
|Shivani      |Accounts  |4900  |3         |
|Anupam       |Sales     |3000  |1         |
|Amit         |Sales     |4000  |2         |
|Ram          |Technology|4000  |1         |
|Ram          |Technology|4000  |2         |
|Veer         |Technology|5100  |3         |
|Anas         |Technology|5100  |4         |
|Shyam        |Technology|5600  |5         |
+-------------+----------+------+----------+

+-------------+----------+------+----+
|employee_name|department|salary|rank|
+-------------+----------+------+----+
|         Renu|  Accounts|  4000|   1|
|        Vijay|  Accounts|  4300|   2|
|      Shivani|  Accounts|  4900|   3|
|       Anupam|     Sales|  3000|   1|
|         Amit|     Sales|  4000|   2|
|          Ram|Technology|  4000|   1|
|          Ram|Technology|  4000|   1|
|         Veer|Technology|  5100|   3|
|         Anas|Technology|  5100|   3|
|        Shyam|Technology|  5600|   5|
+-------------+----------+------+----+